* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: white;
    margin: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 34rem;
    border-radius: 17px;
    width: 22rem;

}

.card > img {
    width: 310px;
    height: auto;
    padding:0.2rem;
}
p {
    text-align: center;
    font-size: 1rem;
}

.boldText {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.4rem;   
    padding: 0 2.5rem;
}

.normalText {
    font-weight: 300;
    padding: 1rem 2.2rem
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 0.5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}